c_primario = #2DC8ED
c_primario_h = #46E4FF
c_gris1 = #ededed
c_boton =  #FFC223
c_boton_texto = #b16f0a
c_gris2 = #727272
c_gris3 = #DCDCDC
c_nav1 = #313131
c_pie = #29b7d9

c_btn_guardar = #FFC223
c_btnh_guardar = #FFD549

c_btn_modificar = #34D9B9
c_btnh_modificar = #39F2D0

c_btn_descartar = #E54946
c_btnh_descartar = #FF514E


c_azul01 = #1682ed
c_azul02 = #328ad7
c_azul03 = #2669a3


c_rojo = #FF372B
c_amarillo = #FF9938
c_verde = #26E07C

c_error = #ff5459